/**
 * Styles for the alternative (aka "Condensed") header.
 */
.header-alt {
	.logo-non-sticky {
		animation: fadein 1s cubic-bezier(.2, 1, .3, 1);
		margin: 15px 0;
		width: 347px;
		height: 68px;
	};
	.logo-sticky {
		animation: fadein 1s cubic-bezier(.2, 1, .3, 1);
		display: none;
	}
	&.has-featured-image {
		.sticky-wrapper {
			position: absolute;
			width: 100%;
			background: transparent;
		}

		.site-header {
			background: rgba(black, 0.9);
		}

		.is-sticky .site-header {
			background: black;
		}
	}

	.sticky-wrapper {
		position: relative;
		z-index: 999;
		background: black;
	}

	.is-sticky .site-header {
		animation: slidedown 1s cubic-bezier(.2, 1, .3, 1);
		min-height: 3.437rem;

		.logo-non-sticky {
			display: none;
		}

		.logo-sticky {
			display: inline-block;
			width: 55px;
			height: 55px;
			margin: 5px 0;
		}


		@media screen and (min-width: $break-menu) {
			min-height: 0;
		}

		.site-title {
			display: none;
		}

		.hooniverse-main-menu-wrapper {
			width: 100%;
			margin-bottom: auto;
		}

		.hooniverse-main-menu-content {
			text-align: right;
		}

		.hooniverse-main-menu-list {
			text-align: right;
		}

		.desktop-search-active .header-search {
			width: 50%;
		}

		.admin-bar & {
			@media screen and (min-width: 601px) {
				top: 46px;
			}

			@media screen and (min-width: 782px) {
				top: 32px;
			}
		}
	}

	.site-header {
		background: black;
		top: 0;
		z-index: 999;
		border-bottom: none;
		height: auto;

		> .container {
			display: flex;
		}

		.site-title {
			color: #fff;
			@include font-smoothing();

			a {
				color: #fff;

				&:hover {
					color: #fff;
					text-decoration: none;
				}
			}

			@media screen and (min-width: $break-menu) {
				@include font-size(2.2);
				width: 45%;
				padding: 0.5em 0;
			}
		}
	}

	.hooniverse-main-menu-trigger {
		svg path {
			fill: #fff;
		}
	}

	.hooniverse-main-menu-wrapper {
		background: none;

		@media screen and (min-width: $break-menu) {
			height: 3.125rem;
			width: 75%;
			margin-top: auto;
			margin-bottom: auto;

			.hooniverse-main-menu-content {
				text-align: right;
				padding-right: 3.375rem;
			}
		}

		.container {
			width: 100%;
			max-width: 100%;
			margin: 0;
		}

		.desktop-search-active {
			.header-search {
				width: 100%;
			}
		}

		.hooniverse-main-menu-list {
			@media screen and (min-width: $break-menu) {
				text-align: right;
				display: inline-block;
				margin: 0;
			}

			> li.main-links,
			> li.menu-item {
				&:hover {
					border-top: 0;
					margin: 0;
				}
			}
		}
	}
}
