/**
 * Main menu styles that are shared between mobile and desktop.
 */
.hooniverse-main-menu-wrapper {
	background-color: black;
	font-family: $font-serif;

	a {
		color: #fff;
		text-decoration: none;

		&.menu-item-link {
			&:hover,
			&:focus {
				color: $tangerine;
				text-decoration: underline;
			}
		}
	}

	ul {
		padding-left: 0;
		list-style: none;
	}

	.header-search {
		label {
			margin-bottom: 0;
		}
	}

	@media screen and (min-width: $break-menu) {
		float: none;
		text-align: center;
		position: relative;
		z-index: 10;
		min-height: 3.125em;

		.desktop-search-active {
			.header-search {
				display: block;
				padding: 4px 50px 0px 0;
				width: 50%;
				z-index: 1;
				position: relative;
				margin: 0;

				form {
					position: relative;
					padding-right: 50px;
				}

				label {
					position: relative;
				}

				.loading {
					position: absolute;
					right: 0.7em;
					top: 0.3em;

					rect {
						fill: #fff;
					}
				}

				input {
					background: transparent;
					border: 0;
					border-bottom: $gray-light solid 1px;
	    			color: #fff;
	    			outline: none;
					-webkit-appearance: none;
					border-radius: 0;
	    			padding: 8px 10px 7px 5px;
	    			width: 100%;
					height: 42px;
					margin: 0;
	    			z-index: 1;

	    			&::-webkit-input-placeholder {
	    				color: $gray-light;
	    			}

	    			&::-moz-placeholder {
	    				color: $gray-light;
	    				opacity: 1;
	    			}

	    			&:-ms-input-placeholder {
	    				color: $gray-light;
	    			}

	    			&::placeholder {
	    				color: $gray-light;
	    				opacity: 1;
	    			}
				}

				button[type="submit"] {
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					background: $tangerine;
					border: 0;
					border-radius: 0;
					height: 42px;
					width: 46px;
					cursor: pointer;
					padding: 10px 12px;
					margin: 0;

					span {
						text-indent: 200%;
						white-space: nowrap;
						overflow: hidden;
					}

					img {
						display: block;
						margin: 0 auto;
					}
				}

				.results {
					margin: 0 50px 0 0;

					.results-list {
						background: #fff;
						padding: 0.4em 0.9em;
						box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
						border: 1px solid rgba(0, 0, 0, 0.15);
						position: relative;
						text-align: left;
						top: 0.55em;

						a {
							display: block;
							@include font-size(1.1);
							color: $color-text;
							padding: 0.3em 0;

							&:hover {
								text-decoration: underline;
							}

							&.see-all-results {
								border: none;
								background: none;
								border-radius: 0;
								width: 100%;
								text-align: center;
								text-transform: uppercase;
								color: $color-text;
								@include font-size(0.9);
								-webkit-appearance: none;
								padding: 0.5em 0;
								margin-top: 0.1em;

								&:hover {
									text-decoration: underline;
								}
							}
						}
					}
				}

				.no-results {
					@include font-size(1.1);
					color: $color-text;
					margin: 0;
					padding: 0.3em 0;
				}
			}

			.desktop-search-close {
				background-color: $gray-dark;
				display: block;
				font-size: 1.25em;
				position: absolute;
				right: 0;
				top: 0;
				padding: 3px 12px 5px;
				margin-top: 4px;
				cursor: pointer;
				line-height: 24px;
				height: 42px;
				transition: all 0.1s;
				border: 0;
				border-radius: 0;
				-webkit-appearance: none;

				img {
					max-width: none;
					vertical-align: bottom;
				}

				&:hover {
					text-decoration: none;
					background-color: #555;
				}
			}
		}

		.hooniverse-main-menu-content {
			text-align: left;
			position: relative;
			padding-right: 4.6rem;
			height: 3.125rem;

			&.desktop-search-active {
				position: relative;
				height: 50px;

				.hooniverse-main-menu-list > li.menu-item,
				.nav-search,
				.more-dropdown-wrapper,
				.more-dropdown-toggle {
					visibility: hidden;
				}

				.header-search {
					padding-right: 54px;
					position: absolute;
					top: 0;
					right: 0;
				}

				.desktop-search-close {
					margin-right: 4px;
				}
			}

			.nav-search {
				float: right;
				top: 2px;
				margin: 0 4px;
				cursor: pointer;
				border-top: none;
				margin: 4px;
				vertical-align: top;
				position: absolute;
				top: 0;
				right: 0;

				button {
					background: none;
					border: none;
					border-radius: 0;
					padding: 0;
					padding: 10px 12px;
					height: 42px;
					width: 46px;
					-webkit-appearance: none;
				}

				img {
					max-width: none;
				}

				&:hover {
					background: $tangerine;
				}
			}
		}

		.hooniverse-main-menu-list {
			overflow-y: visible;
			margin: 0 0 0 -.833rem;
			list-style: none;
			height: auto !important;
			display: inline-block;

			a {
				color: #fff;
				&.current-page {
					color: $tangerine;
					text-decoration: underline;
				}
			}

			> li.main-links,
			> li.menu-item {
				display: inline-block;
				position: relative;
				margin: 0;
				transition: background 0.1s;
				@include font-smoothing;

				&:hover,
				&.has-focus {
					border-top: 5px solid #555;
					margin: -5px 0 0;
					background: #555;

					> ul {
						opacity: 1;
						visibility: visible;
					}
				}

				> a.menu-item-link {
					font-size: 1em;
					font-weight: 600;
					letter-spacing: .05em;
					text-transform: uppercase;
					padding: 15px;
					display: block;
				}

				ul {
					min-width: 240px; // Dropdowns should be wider than parent.
					margin: 0;
					padding: 0;
					background: #555;
					position: absolute;
					top: 50px;
					padding: 5px 0 10px;
					left: 0;
					box-shadow: none;
					opacity: 0;
					visibility: hidden;
					transition: all 0.1s;
					z-index: 1;

					li.nav-main-item,
					li.menu-item {
						background: #555;
						display: block;
						color: #fff;
						text-align: left;
						margin: 0;

						.menu-item-link {
							padding: 8px 25px 10px 20px;
							display: block;
							line-height: 1.3;

							&:hover {
								background: #666;
							}
						}

						.child-nav {
							display: none;
						}
					}
				}
			}
		}
	}

	.priority-nav-has-dropdown .priority-nav-dropdown-toggle {
		position: relative;
		background: none;
		border: none;
		border-radius: 0;
		font-family: $font-serif;
		-webkit-appearance: none;
		@include font-smoothing;
		font-size: .875em;
		font-weight: 600;
		letter-spacing: .05em;
		text-transform: uppercase;
		padding: 15px 34px 15px 15px;
		line-height: 1.45;

		&.is-open {
			background: #555;

			.site:not(.header-alt) & {
				border-top: 5px solid #555;
				margin-top: -5px;
			}
		}

		&:hover {
			background: #555;
			text-decoration: underline;
		}

		&::after {
			content: '';
			width: 1.2rem;
			height: 1.2rem;
			background: url('_assets/icons/arrow-down.svg') no-repeat;
			position: absolute;
			right: 0.7rem;
			top: 50%;
			transform: translateY(-0.68em);
		}
	}

	.priority-nav-wrapper {
		position: relative;
		display: none;

		@media screen and (min-width: $break-menu) {
			display: inline-block;
		}

		&:hover {
			background: #555;

			.site:not(.header-alt) & {
				.priority-nav-dropdown-toggle {
					border-top: 5px solid #555;
					margin-top: -5px;
				}
			}

			.more-dropdown {
				display: block;
				visibility: visible;
			}
		}
	}

	.priority-nav-dropdown {
		position: absolute;
		visibility: hidden;
		min-width: 15em;
		background: #555;
		text-align: left;
		top: 50px;
		right: 0;
		padding: 0.3125rem 0 0.625rem;
		margin: 0;
		@include font-smoothing;

		&:hover {
			visibility: visible;
		}

		li {
			margin: 0;
			position: relative;

			a {
				padding: 0.5rem 1.5625rem 0.625rem 1.25rem;
				line-height: 1.3;
				display: block;

				&:hover {
					background: #666;
				}
			}

			&.sub-menu-active {
				background: #666;
			}
		}

		> .menu-item {
			> .menu-item-link {
				@include font-size(0.875);
				text-transform: uppercase;
				font-weight: 600;
				letter-spacing: .05em;
				padding-right: 3rem;
			}
		}

		> .menu-item-has-children {
			> .sub-menu-toggle {
				border: none;
				width: 3rem;
				height: 2.375rem;
				background: url('_assets/icons/arrow-down.svg') no-repeat;
				background-position: left 0.6rem center;
				position: absolute;
				right: 0;
				top: 0;
				overflow: hidden;
				text-indent: 100%;
				white-space: nowrap;
				color: transparent;

				@media screen and (min-width: $break-menu) {
					display: block;
				}
			}
		}

		.sub-menu {
			display: none;
			padding-bottom: 0.3em;

			li:first-child {
				margin-top: 0;
			}

			a {
				padding-left: 2.25rem;
			}

			&.active {
				display: block;
			}

			.sub-menu {
				display: none;
			}
		}
	}

	.hooniverse-main-menu-content.priority-nav-has-dropdown {
		overflow: visible;
	}

	.priority-nav-dropdown.show {
		visibility: visible;
	}

	.priority-nav-dropdown-toggle {
		visibility: hidden;
		position: absolute;
	}

	.priority-nav-is-visible {
		visibility: visible;
	}

	.priority-nav-is-hidden {
		visibility: hidden;
	}


	@media screen and (min-width: $break-lg) {

		header & {
			display: block;
			text-align: left;
		}

		.head-logo-image {
			width: auto;
		}

		ul.hooniverse-main-menu-list.desktop-search-active {
			text-align: left;
		}
	}
}

@keyframes slidedown {
	from {
		transform: translateY(-100%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.mobile-only, .child-nav, .hooniverse-main-menu-wrapper ul ul ul {
	@media screen and (min-width: $break-menu) {
		display: none;
	}
}

