/* This is a legacy class from the classic editor */
.wp-caption {
	margin-bottom: 1em;
	max-width: 100%;
	padding-top: 0.5rem;
}

.wp-caption img[class*="wp-image-"],
.wp-block-image img,
.wp-block-video video,
.wp-block-audio audio {
	display: block;
}

.wp-caption-text,
.wp-caption-dd,
.wp-block-image figcaption,
.wp-block-video figcaption,
.wp-block-audio figcaption,
.wp-block-embed figcaption,
.blocks-gallery-caption {
	margin-bottom: 1.5em;
	@include font-size($size-sm);
	color: $color-text;
	text-align: left;
	line-height: 1.333;
	margin: 0.5rem 0 0;
	padding: 0.278rem 0;

	@media screen and (min-width: $break-zoom) {
		@include font-size($size-0);
		margin-bottom: 0;
	}
}

.blocks-gallery-caption {
	margin-top: -0.22rem;
	padding-top: 0;
}

/* Remove image floats on smaller screens */
.wp-caption,
img[class*="wp-image-"],
.wp-block-image .alignleft,
.wp-block-image .alignright {
	@media screen and (max-width: $break-xs) {
		display: block;
		float: none;
		margin-left: 0;
		margin-right: 0;

		&.aligncenter {
			margin-left: auto;
			margin-right: auto;
		}

		> figcaption {
			display: block;
		}
	}
}