ul, ol {
	margin: 0 0 1em 0;
	padding-left: 1.5em;

	ul, ol {
		li {
			margin-bottom: 0.625rem;

			&:first-child {
				margin-top: 0.625rem;
			}
		}
	}
}

ul {
	list-style: disc;

	ul {
		list-style: circle;
	}
}

ol {
	list-style: decimal;

	ol {
		list-style: lower-alpha;
	}
}

li {
	margin-bottom: 0.9375rem;
	text-align: left;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

ul.unstyled,
ul.is-style-unstyled,
ol.unstyled,
ol.is-style-unstyled {
	list-style: none;

	ul, ol {
		list-style: none;
	}
}
