a {
	color: $color__link;

	nav &,
	.site-footer & {
		color: $color__link-nav;
		transition-property:
			color,
			background-color,
			border-color;
		transition-duration: 0.2s;
		transition-timing-function: linear;
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			color: $color__link-nav-hover;
		}
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
