@import url(https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;1,600&family=Carter+One&display=swap);

/**
 * Hooniverse fonts
 */
$font-sans: "Bai Jamjuree", sans-serif;
$font-serif: "Carter One", cursive;
$font-code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-pre: "Courier 10 Pitch", courier, monospace;
$font-line-height-body: 1.5;
$font-line-height-pre: 1.6;


/**
 * Primary colors
 */
$red:              rgb(165,  20,  23); // #a51417
$red-light:        rgb(208,  28,  41); // #d01c29
$gray-dark:        rgb( 61,  61,  61); // #3d3d3d
$gray:             rgb(108, 115, 115); // #6c7373
$gray-light:       rgb(200, 200, 200); // #c8c8c8
$gray-extra-light: rgb(238, 238, 238); // #eeeeee
$green:            rgb(  0, 102,  51); // #006633

/**
 * Secondary colors
 */
$green-dark:      rgb( 21,  62,  53); // #153e35
$moss:            rgb(121, 156,  75); // #799c4b
$tan:             rgb(215, 186, 139); // #d7ba8b
$pearl:           rgb(215, 210, 197); // #d7d2c5
$prussian:        rgb( 23,  39,  82); // #172752
$blue:            rgb( 16,  95, 134); // #105f86
$tangerine:       rgb(255, 165,   0); // #ffa500
$turquoise:       rgb( 43, 130, 130); // #2b8282
$turquoise-light: rgb(103, 200, 199); // #67C8C7
$orange:          rgb(210,  95,  40); // #d26028
$yellow:          rgb(255, 204,   0); // #ffcc00
$purple:          rgb( 97,  33, 102); // #612166
$yellowish:       rgb(237, 205, 32); //#edcd20
