.comments-title {
	@include font-size(1.5);
	margin-bottom: 0.75em;
}

.comments-area {
	ol {
		list-style: none;

		ol {
			padding-left: 1em;

			@media screen and (min-width: $break-zoom) {
				padding-left: 3em;
			}
		}
	}
}

.comment-list {
	padding: 0;

	> .comment {
		border-top: 1px solid $gray-extra-light;

		&:last-child {
			border-bottom: 1px solid $gray-extra-light;
		}
	}

	.comment-body {
		position: relative;
		margin: 1em 0 1em;
		padding-left: 3em;
	}

	.comment-author {
		display: inline-block;
		margin-right: 0.25em;

		.says {
			display: none;
		}

		.avatar {
			position: absolute;
			top: 0.3em;
			left: 0;
			width: 2em; // 32px
		}
	}

	.comment-metadata {
		display: inline-block;

		> a {
			color: $gray;
			font-style: italic;
		}

		.edit-link {
			text-transform: uppercase;
			@include font-size(0.9);
			font-weight: 600;
			margin-left: 0.25em;
		}
	}

	.comment-content p {
		@include font-size(1.125);
		margin: 0 0 0.5em;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.comment-reply-link {
	text-transform: uppercase;
	@include font-size(0.9);
	font-weight: 600;
}

.comment-reply-title {
	@include font-size(1.5);

	small {
		@include font-size(0.9);
		vertical-align: middle;
		margin-left: 0.6em;
	}
}

.comment-form-comment textarea {
	height: 6em;
}

.comment-form .submit {
	@extend .button-primary;
}
