.hentry {
	margin: 0 0 1.5em;
}

.updated {
	display: none;
}

.search-results .page-content,
.no-results .page-content,
.type-page .page-content {
	margin-left: auto;
	margin-right: auto;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/**
 * Posts
 */

.entry-byline {
	margin-bottom: 1.5em;
	@include font-size($size-sm);
	font-style: italic;
	color: $color-text-muted;

	@media screen and (min-width: 50em) {
		@include font-size($size-0);
	}

	.byline {
		&:after {
			content: " \2022"; // small bullet
		}
	}
}

.entry-categories,
.entry-tags {
	a {
		display: inline-block;
		margin: 0.25em 1.2em 0.25em 0;
		@include font-size($size-sm);
		font-weight: 700;
		letter-spacing: 0.1em;
		line-height: 1;
		text-transform: uppercase;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.entry-categories {
	margin-bottom: 1em;
}

.entry-content,
.page-content {
	@include font-size(1.125);

	@media screen and (min-width: 37em) {
		@include font-size($size-1);

		.entry-content {
			font-size: 1em;
		}
	}

	p > .alignleft,
	p > .alignright {
		margin-top: .4em;
	}
}

.entry-footer {
	clear: both;
	margin-top: 2.4rem;

	.entry-tags {
		padding-left: 2.2rem;
		position: relative;
		line-height: 1;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 1.25rem;
			height: 1.25rem;
			margin-top: -0.625rem;
			background: url('_assets/icons/tag.svg');
		}
	}
}

.entry-footer .include {
	@extend .clearfix;
	margin-bottom: 1.5em;

	.include-title {
		clear: none;
		margin-top: 0;
		margin-bottom: .25em;

		a {
			color: inherit;
			text-decoration: none;

			&:hover,
			&:focus {
				color: $color-primary;
			}
		}
	}
}

.post-thumbnail-feature {
	margin-bottom: 1.5em;
}

.post-thumbnail-feature img {
	display: block;
}

.page-thumbnail-feature {
	position: relative;
	background-size: cover;
	background-position: center;  /* Internet Explorer 7/8 */
	text-align: center;
	width: 100%;
	overflow: hidden;

	/* For screens below 656px... */
	@media screen and (max-width: $break-sm) {
		height: 200px;
	}

	/* For screens between 656px and 1136px wide... */
	@media screen and (min-width: $break-sm) {
		height: 300px;
	}

	/* For screens between 1136px wide and 1520px wide... */
	@media screen and (min-width: $break-lg) {
		height: 400px;
	}

	/* For screens at 1520px wide and above... */
	@media screen and (min-width: $break-xl) {
		height: 550px;
	}

	.home .header-alt & {
		height: calc(100vh - 2.625rem);
		min-height: 37.5rem;
	}
}

.feature-text-wrapper {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;

	&.bg-dark-gray {
		background: rgba(0, 0, 0, 0.23);
	}

	&.bg-gray {
		background: rgba($gray-dark, 0.9);
	}

	&.bg-turquoise {
		background: rgba(darken($turquoise, 6%), 0.9);
	}

	&.bg-yellow {
		background: rgba($yellow, 0.9);
		color: $color-text;

		.button-inverse {
			border-color: $color-text;

			&:hover {
				color: $color-text;
			}
		}
	}
}

.feature-text {
	margin: 0 auto;
	max-width: 92%;
	padding: 2em 1.2em;
	color: #fff;

	@media screen and (min-width: $break-zoom) {
		padding: 2.8em 3.2em;
	}

	.heading {
		color: inherit;
		font-family: $font-serif;
		@include font-size(1.7);
		line-height: 1.2;
		margin: 0 0 0.5rem;
		@include font-smoothing;

		@media screen and (min-width: $break-xs) {
			@include font-size(2);
		}

		@media screen and (min-width: $break-zoom) {
			@include font-size(2.5);
		}

		@media screen and (min-width: $break-md) {
			@include font-size(3.5);
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.subheading {
		color: inherit;
		text-transform: uppercase;
		@include font-size(0.9);
		font-weight: 600;
		letter-spacing: 0.05em;
		margin: 0 0 0.5rem;

		@media screen and (min-width: $break-xs) {
			@include font-size(1);
		}

		&:last-child {
			margin-bottom: 0;
		}

		+ .button-inverse {
			margin-top: 0.5rem;
		}
	}

	a.button-inverse {
		margin: 0 0.4rem 0.5rem;
		color: inherit;

		&:hover {
			color: $red;
		}

		&:last-child {
			margin-bottom: 0;
		}

		+ .subheading {
			margin-top: 0.5rem;
		}
	}
}

.page-title,
.entry-title {
	line-height: $line-height-sm;
	letter-spacing: 0.01em;
}

.page-title {
	@include font-size(2.19);
	font-weight: 300;
	margin: 0 0 0.5em;

	@media screen and (min-width: $break-zoom) {
		@include font-size(2.5);
		margin: 0 0 0.8em;
	}

	@media screen and (min-width: $break-md) {
		@include font-size(2.75);
	}
}

.entry-title {
	margin: 0 0 0.3em;
	font-family: $font-serif;
	@include font-size(1.602);
	font-weight: 400;

	@media screen and (min-width: $break-zoom) {
		@include font-size(1.9);
	}

	@media screen and (min-width: $break-md) {
		@include font-size(2.197);
	}
}

.entry-meta {
	margin-bottom: 1.5em;
	@include font-size($size-sm);
	color: #777;
	font-style: italic;

	@media screen and (min-width: $break-zoom) {
		@include font-size($size-0);
	}
}

.entry-subtitle {
	@extend .lead;
}

/**
 * Asides
 */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

.stick {
	position: -webkit-sticky;
	position: sticky;
	top: 15px;

	.admin-bar & {
		top: 47px;
	}

	.header-alt & {
		top: 64px;

		.admin-bar & {
			top: 96px;
		}
	}

	&:before,
	&:after {
		content: '';
		display: table;
	}
}

/**
 * 404 Page
 */

.not-found .search-form {
	position: relative;
	margin: 2.5em 0 1.5em;
	max-width: 20em;

	.search-field {
		height: 49px;
		padding-right: 64px;
	}

	.search-submit {
		position: absolute;
		top: 0;
		right: 0;
		height: 49px;
		border-radius: 0;
		border: 0;
		background: $red;

		span {
			text-indent: 200%;
			white-space: nowrap;
			overflow: hidden;
		}
	}
}

/**
 * Archive Pages and Search Results
 */

.archive,
.blog,
.search-results {
	.page-header {
		margin-bottom: 1.5em;

		@media screen and (min-width: $break-md) {
			margin-bottom: 2.5em;
		}
	}

	.page-title {
		margin-bottom: 0.2em;
	}

	.taxonomy-description {
		@media screen and (min-width: $break-zoom) {
			@include font-size($size-1);
			margin-bottom: 48px;
			margin-bottom: 3rem;
		}
	}

	.hentry {
		@include clearfix();
		margin-bottom: 56px;
		margin-bottom: 3.5rem;
	}

	.entry-header {
		margin-bottom: 1em;
	}

	.entry-meta {
		margin: 0;
	}

	.post-image {
		@include clearfix();
		width: 100%;
		margin-bottom: 1.5em;

		img {
			display: block;
		}

		@media screen and (min-width: $break-sm) {
			float: left;
			width: 30.675%;
			margin-bottom: 0;
		}
	}

	.has-post-thumbnail .entry-content {
		@media screen and (min-width: $break-sm) {
			float: right;
			width: 66%;
		}
	}

	.entry-title {
		margin-bottom: 0.3em;
		@include font-size($size-1);
		font-family: $font-serif;
		font-weight: 700;

		@media screen and (min-width: $break-md) {
			margin-bottom: 0.2em;
			@include font-size($size-2);
		}
	}

	.entry-title-link {
		color: $red-light;
		text-decoration: none;

		.last-word {
			display: inline-block;

			.dashicons {
				text-decoration: none;
				margin-left: 0.2em;
			}
		}

		&:hover,
		&:focus,
		&:hover span,
		&:focus span {
			color: $red;
			text-decoration: underline;
		}

		&:hover .dashicons {
			text-decoration: none;
		}
	}

	.entry-content {
		margin-top: 0;
		margin-bottom: .5em;
		@include font-size(1);

		p {
			margin-bottom: 0;
		}
	}
}

/**
 * Jetpack-related adjustments
 */

.single #jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title {
	margin: 0.75em 0 0.25em 0;
    font-family: $font-serif;
}
