@use "sass:math";

button,
input,
select,
textarea {
	box-sizing: border-box;
	color: $color-text-dark;
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid $red;
	border-radius: 6px;
	background-color: $red;
	color: #fff;
	font-family: $font-sans;
	@include font-size( $size-0 );
	font-weight: 400;
	line-height: 1.1em;
	padding: 0.5em 1.25em;

	.site-content & {
		&:hover {
			background-color: #fff;
			border: 1px solid $red;
			color: $red;
			text-decoration: none;
		}

		&:focus {
			color: #fff;
			text-decoration: none;
			outline: none;
			box-shadow: 0 0 0 0.2rem rgba(94, 158, 214, .7);

			&:hover {
				color: $red;
			}
		}
	}
}

.search-results {
	.site-content {
		span.page-title {
			float: left;
			margin: 0 0.3em 0.2em 0;
		}

		input[type="search"] {
		    background-color: #fff;
		    padding: 0.5rem 0 0.2rem;
		    margin: 0;
		    line-height: 1.2;
		    @include font-size(1.5);
		    color: $color-text;
		    border-left: none;
		    border-top: none;
		    border-right: none;
		    border-bottom: 1px solid $color-text;
		    border-radius: 0;
			width: 100%;
			-webkit-appearance: none;
			height: auto;

			@media screen and (min-width: $break-sm) {
				max-width: 15rem;
				padding: 0.5rem 0.6rem 0.2rem;
				@include font-size(2);
			}
		}

		form,
		form label {
			width: 100%;
			margin-bottom: 1em;
			display: inline-block;

			@media screen and (min-width: $break-sm) {
				width: auto;
				vertical-align: top;
				margin-bottom: 0;
			}
		}
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
	border: 1px solid rgb(233, 233, 233);
	border-radius: 0;
	background-color: rgb(249, 249, 249);
	padding: 10px;
	font-weight: normal;
	@include font-size(1.125);
	width: 100%;
	-webkit-appearance: none; /* Remove default styling from mobile Safari */
}

textarea {
	width: 100%;
	min-height: 150px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
	border-color: $gray-light;
	outline: none;
}

label {
	margin-bottom: 5px;
	@include font-size(1.125);
	display: block;
	font-weight: 600;
}

select {
	color: $color-text-dark;
	background: rgb(249, 249, 249);
	border: 1px solid rgb(233, 233, 233);
	width: 100%;
	@include font-size(1.125);
	height: 40px;
}

select:focus {
	border-color: $gray-light;
	outline: none;
}

input[type="radio"],
input[type="checkbox"] {
	margin: 0 10px 0 0;
}

/**
 * Utility Classes
 */

.frm-label-block {
	display: block;
	margin-bottom: .25em;
	font-weight: 600;
}

.frm-input-group {
	@extend .clearfix;
	width: 100%;
	margin-bottom: 1em;

	&.large {
		margin-bottom: math.div(1em, $size-2);
		@include font-size($size-2);
	}
}

input.frm-input-group-input {
	width: 97%;
	width: calc(100% - 4rem);
	vertical-align: bottom;
	float: left;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

button.frm-input-group-button {
	float: right;
	width: 4em;
	width: 4rem;
	padding: math.div(12.5, 16) * 1em;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/**
 * Formidable-specific styles
 */

.frm_form_fields fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.frm_form_field {
	margin-bottom: 30px;
}

.frm_checkbox label,
.frm_radio label {
	font-weight: normal;
}

.frm_blank_field label,
.frm_error {
	color: #B94A48;
}

.frm_error {
	@include font-size(1.2);
	margin-top: 5px;
}

.frm_hidden,
.frm_pos_none {
	display: none;
}

.frm_screen_reader {
	@extend .screen-reader-text;
}

.frm_other_input {
	margin-top: 0.65rem;
}

.frm_blank_field input,
.frm_blank_field select {
	border-color: #B94A48;
}

.frm_error_style {
	background-color: tint($red, 80%);
	border: 1px solid tint($red, 50%);
	color: $color-text-dark;
	@include font-size(1.2);
	padding: 15px;
	margin-bottom: 20px;

	p {
		margin: 0;
	}
}

.frm_submit button,
.frm_submit input[type="submit"] {
	@extend .button-primary;
}

.frm_submit .frm_prev_page {
	@extend .button-secondary;
}

.frm_ajax_loading {
	visibility: hidden;
	width: auto;
}

.frm_message,
.frm_success_style {
	border: 1px solid tint($moss, 50%);
	background-color: tint($moss, 80%);
	color: $color-text-dark;
	padding: 15px;
	margin-bottom: 20px;

	p {
		margin: 0;
	}
}

.frm_form_title {
	margin-bottom: 2rem;
}

.frm_form_title + .frm_description {
	margin-top: -1.8rem;
}

.frm_description {
	padding-top: .25em;
	color: $color-text-muted;
	font-size: 1.125rem;
}

.frm_primary_label + .frm_description {
	padding-top: 0;
	margin-bottom: 0.9rem;
}

.frm_time_select {
	width: auto;
}

.frm_dropzone {
	padding: 2em;
	text-align: center;
	border: 2px dashed $gray-light;
	@include font-smoothing();
	cursor: pointer;

	.frm_upload_text {
		display: block;
		@include font-size($size-1);
		font-weight: bold;
	}

	.frm_small_text {
		@include font-size($size-sm);
	}

	.frm_upload_icon {
		display: block;
		height: 40px;
		font-family: dashicons;

		&:after {
			content: "\f317";
			font-size: 40px;
			line-height: 1.2;
		}
	}

	.frm_compact_text {
		display: none;
	}

	.dz-preview {
		margin-top: 1rem;

		.dz-success-mark,
		.dz-error-mark {
			display: none;
		}
	}
}

.frm_verify {
    display: none;
}

// Star selector styles
.frm-star-group input {
	display: none !important;
}

.frm-star-group .star-rating,
.frm-star-group input + label {
	float:left;
	width:25px;
	height:25px;
	font-size:25px;
	line-height:1;
	cursor:pointer;
	display:block;
	background:transparent;
	overflow:hidden !important;
	clear:none;
	font-style:normal;
	margin-right:15px;
}

.frm-star-group input + label:before,
.frm-star-group .star-rating:before {
	content:'\2606';
	color: $red;
	display: inline-block;
	vertical-align: top;
}

.frm-star-group input[type=radio]:checked + label:before,
.frm-star-group:not(.frm-star-hovered) input[type=radio]:checked + label:before {
	color: $red;
}

.frm-star-group:not(.frm-star-hovered) input[type=radio]:checked + label:before,
.frm-star-group input + label:hover:before,
.frm-star-group:hover input + label:hover:before,
.frm-star-group .star-rating-on:before,
.frm-star-group .star-rating-hover:before {
	content:'\2605';
	color: $red;
}

.frm-star-group .star-rating-readonly {
	cursor:default !important;
}

// Formidable edit summary icon thing
button .frm-icon {
	display: inline-block;
	color: inherit;
	width: 12px;
	height: 12px;
	fill: currentColor;
}
