.site {
	position: relative;
	z-index: 0;
	background: #fff;
}

.site-content {
	@extend .clearfix;
	width: 92%;
	margin: 1.15em auto 1.5em;

	@media screen and (min-width: $break-zoom) {
		max-width: 46.875em;
		margin-top: 1.8em;
		margin-bottom: 2.5em;
	}

	@media screen and (min-width: $break-menu) {
		max-width: $break-lg;
		margin-top: 2.5em;
	}

	.widget-area {
		clear: both;

		@media screen and (min-width: $break-menu) {
			width: 23.5%;
			float: right;
			clear: none;
		}
	}

	.home & {
		margin-top: 0;
	}
}

/**
 * Template specific tweaks
 */

.single-post {
	.site-content .content-area {
		margin: 0 auto;
		//@extend .col-md-8;
	}
}

.page-template-page-sidebar {
	.content-area {
		@media screen and (min-width: $break-menu) {
			width: 66%;
			float: left;
		}
	}
}

.page-template-default {
	.content-area {
		margin-left: auto;
		margin-right: auto;
	}
}

.archive,
.blog,
.search-results,
.search-no-results,
.error404 {
	.content-area {
		margin-left: auto;
		margin-right: auto;
	}
}

/**
 * Utility classes
 */

.container {
	width: 100%;
	max-width: $break-lg;
	margin-left: auto;
	margin-right: auto;

	@extend .clearfix;
}

.home-about-box {
	background: white;
	color: black;
	max-width: 425px;
	margin-right: 20%;
}
