/**
 * Sidebar page navigation
 */

ul.subnav {
	display: none;

	@media screen and (min-width: $break-menu) {
		display: block;
		margin-bottom: 2em;
	}

	&, & ul {
		margin-left: 0;
		padding: 0;
		list-style: none;
	}

	& > .current_page_ancestor,
	& > .current_page_item {
		border-top: none;
		border-bottom: 1px solid $gray-light;

		& > a {
			color: $gray-dark;
			font-family: $font-serif;
			font-size: 1.5em;
			padding-bottom: .65em;

			&:hover {
				color: $red;
			}
		}
	}

	ul {
		a {
			font-size: .875em;
			font-weight: 600;
			line-height: 1.25em;
			padding: 15px;
			-webkit-font-smoothing: antialiased;
		}

		.current_page_parent > a,
		.current_page_item > a {
			background-color: $gray-dark;
			color: #fff;
		}

		ul {
			a {
				padding-left: 35px;
				background-color: $gray-extra-light;
			}

			.current_page_item > a {
				background-color: $gray-light;
				color: $red;
			}
		}
	}

	ul.children li {
		border-top: 1px solid $gray-light;
		margin: 0;
	}

	a {
		display: block;
		padding-bottom: 10px;
	}
}

/**
 * Pagination
 */

.paging-navigation {
	text-align: center;
	margin-bottom: 40px;
	margin-bottom: 2.5rem;

	.nav-previous,
	.nav-next {
		display: inline-block;
		vertical-align: top;
	}

	.nav-previous,
	.nav-next {
		a {
			height: 2rem;
			width: 2.5rem;
			display: block;
			background-color: $red;
			text-decoration: none;
			border-radius: 4px;
		}
	}

	.nav-next {
		margin-left: 1.5rem;

		a {
			&:after {
				content: '\203A';
				color: #fff;
				@include font-size(2.2);
    			line-height: 0.8;
    			font-family: $font-serif;
			}
		}
	}

	.nav-previous {
		margin-right: 1.5rem;

		a {
			&:after {
				content: '\2039';
				color: #fff;
				@include font-size(2.2);
    			line-height: 0.8;
    			font-family: $font-serif;
			}
		}
	}

	.nav-count {
		@include font-size(1.2);
		display: inline-block;
		line-height: 2rem;

		.of {
			margin: 0 0.2em;
		}
	}
}
