@media print {
	body,
	button,
	input,
	select,
	textarea,
	h1, h2, h3, h4, h5, h6,
	.entry-byline {
		background: #fff;
		color: #000000;
	}

	.washu-main-menu-trigger,
	.washu-main-menu-wrapper,
	.post-thumbnail-feature,
	#secondary,
	#comments {
		display: none;
	}

	.washu-branding {
		background: none;

		.container {
			width: 100%;
		}

		.washu-logo,
		.wusm-logo {
			margin-top: 0;
		}

		.washu-logo-text,
		.wusm-logo-text {
			fill: #000;
		}
	}

	header.site-header {
		.container {
			width: 100%;

			.site-title {
				@include font-size($size-3);
				border-bottom: 1px solid $gray;
				margin-bottom: 0.75em;
				padding-bottom: 0.75em;
				padding-top: 0.2em;
				width: 100%;
			}
		}
	}

	.site-content,
	#primary {
		width: 100%;
		max-width: 100%;
		margin: 0;

		.entry-title {
			@include font-size($size-2);
		}

		p a:after {
			content:" (" attr(href) ") ";
		}

		.entry-footer {
			margin-top: 0.75em;
		}
	}

	a {
		color: #000000 !important;
	}

	hr {
		background-color: #666;
		height: 2pt;
	}

	.footer {
		background: none;
		border-top: 1px solid $gray;
		padding: 1.5em 0 0;

		.container {
			width: 100%;
			max-width: 100%;
		}

		.site-contact {
			color: #000000;
			margin-bottom: 1.75em;
			text-align: left;

			.footer-widget-title {
				color: #000000;
			}
		}

		.social-icon-list {
			display: none;
		}
	}

	.widget-wrapper {
		display: none;
	}

	.site-info {
		font-size: .875em;
		color: #000000;
		margin-bottom: 0;
		border-top: 0;
	}
}
