.widget {
	margin: 0 0 2em;

	ul {
		list-style: none;
		padding-left: 0;
	}

	.subnav + & {
		margin-top: 3.5em;
	}
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

.widget-area {
	padding-top: 0.625em;

	.widget {
		max-width: 23.5em;

		li {
			line-height: 1.125em;
			margin: 0 0 0.6em;
		}
	}

	.widget-title {
		@include font-size(1.125);
		text-transform: uppercase;
		border-bottom: 1px solid $gray;
		padding-bottom: 0.15em;
		margin-bottom: 0.5em;
	}

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}