/*
 * Block editor stylesheet
 *
 * This stylesheet is primarily for making fixes to our components in the
 * editor, which are applied to the editor using editor-style.css
 */

@import "brand";
@import "variables";
@import "mixins";

body.block-editor-page {
    /*
     * This selector is for styles that only need to
     * be applied to the content area of the block editor.
     */
    .editor-styles-wrapper {
        // Match max width of left and right aligned blocks with front end
        [data-align=left],
        [data-align=right] {
            @media screen and (min-width: $break-xs) {
                .wp-block-image,
                .wp-block-pullquote {
                    max-width: 60%;

                    blockquote {
                        margin: 0 0 0.5rem;
                    }
                }
            }
        }

        // The editor is overriding our style here for some reason.
        li {
            margin-bottom: 0.9375rem;
        }

        // Importing our own link colors overrides this, so this puts it back
        .has-text-color a {
            color: inherit;
        }

        .wp-block-button {
            .wp-block-button__link {
                margin: 0;
            }

            .has-red-background-color {
                &:hover {
                    color: #fff;
                }
            }

            .has-gray-dark-background-color {
                &:hover {
                    color: #fff;
                    border-color: $gray-dark;
                }
            }
        }

        // The editor adds a border to this element that we don't want, we use a pseudo element to add ours
        .wp-block-pullquote {
            border: none;
        }

        // The margin from the quote itself is removed in the editor, this brings back the space
        .wp-block-pullquote__citation {
            margin-top: 1em;
        }

        .wp-block-cover {
            .wp-block-cover__inner-container {
                .wp-block-button {
                    margin: 0 0.25rem 0.2rem;
                }
            }
        }
    }

    /*
     * This selector is for styles that need to be applied to the
     * content and sidebar area of the block editor.
     */
    .edit-post-layout {
		// Except for this part to fix the Classic Editor.
		.wp-block-freeform {
			a.button-primary {
				color: #fff;

				&:hover {
					color: $red;
				}
			}

			a.button-outline {
				color: $red;

				&:hover {
					color: #fff;
				}
			}
		}
    }

    // Hide H1, H6 in sidebar.
    button {
        &.components-button[aria-label="Heading 1"],
        &.components-button[aria-label="Heading 6"] {
            display: none;
        }
    }

    // Hide color gradient settings - noticed specifically in the table block
    .block-editor-panel-color-gradient-settings {
        display: none;
    }
}

/*
 * Post-specific modifications
 */
body.post-type-post {
    .editor-post-title__input {
        font-family: $font-serif;
        @include font-size(1.602);
        font-weight: 400;

        @media screen and (min-width: $break-zoom) {
            @include font-size(1.9);
        }

        @media screen and (min-width: $break-md) {
            @include font-size(2.197);
        }
    }
}
