/**
 * Editor stylesheet
 */

@import "brand";
@import "variables";
@import "mixins";
@import "global";
@import "core-blocks";
@import "components/links";
@import "components/paragraph";
@import "components/lists";
@import "components/buttons";
@import "components/captions";
@import "components/tables";
@import "components/blockquote";
@import "components/pullquote";
@import "components/cover";

body {
	@include font-size(1.125);

	@media screen and (min-width: 37em) {
		@include font-size($size-1);
	}
}

.wp-block {
	max-width: 46.875rem;
}

.editor-post-title__input {
	font-family: $font-sans;
	line-height: 1;
	font-weight: 300;
	@include font-size($size-4);
	line-height: $line-height-sm;
	color: $color-text-dark;

	@media screen and (min-width: $break-md) {
		@include font-size( $size-6 );
	}
}

/*
 * Classic editor styles
 */
#tinymce {
	font-size: 18px;
	font-size: 1.125rem;
	max-width: 700px;
	margin: 1em;
}

.wp-block-cover {
	left: 0;
	right: 0;
	margin: auto;
}
